[submodule "Phynx/libs/glfw"]
	path = Phynx/libs/glfw
	url = https://github.com/AkZuza/glfw.git
[submodule "Phynx/libs/spdlog"]
	path = Phynx/libs/spdlog
	url = https://github.com/AkZuza/spdlog.git
[submodule "Phynx/libs/glm"]
	path = Phynx/libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "Phynx/libs/yaml-cpp"]
	path = Phynx/libs/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
